
html, body {
    display: flex;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
    align-items: center;
    justify-content: center;
    font-family: "Figtree", serif;
}

.card-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}



/* Card Styles */

.card {
    max-width: 500px;
    max-height: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    gap: 10px;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    
}

.card:hover {
    cursor: pointer;
    box-shadow: 
        7px 0 0 #000,   
        7px 7px 0 #000; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-type {
    width: 20%;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
    transition: text-decoration 0.3s ease;
}

.card:hover .card-title {
    text-decoration: underline; /* Underlines the card title */
}

.card-img {
    width: 100%;
    align-self: center;
}

.content-author {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
}

.author-container {
    display: flex;
    gap: 5px;
}

.author-img {
    width: 35px;
}







/* Attribution Footer styles */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }